.App {
  text-align: center;
  
  max-height: 100vh;
  height: 745px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#d3c1c1, #5d5f82);
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.auth-form-container{
  margin-left: 560px;
  margin-right: 500px;
  display: flex;
}

.auth-form-container, .login-form, .register-form{
  display: flex;
  justify-content: center;
  flex-direction:  column;
  width: 400px;
  padding: 3px;
  border-left: 3px solid #2b2c3c;
  border-bottom:3px solid #2b2c3c;
  
}
.napis{
 font-size: 50px;
}

label{
  text-align: left;
  padding: 0.1rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn{
  color: white;
  text-decoration: underline;
  background: none;
}

.link-str{
 margin-left: 65px;
 margin-right: 65px;
 background-color: #2b2c3c;
 color: #d3c1c1;
 border: 1px solid #d3c1c1;
}





nav{
  position: fixed;

}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.centrum{
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
  
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #b14444;
  font-size: 55px;
  font-weight: 600;
}

.pod{
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .srodek{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .search-box input {
    color: #000;
    height: 100%;
    width: 70%;
    border:none;
    border-radius: 60px;
    background-color:#e0e0e1;
  }
  

  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
   
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #105268;
  }
  footer .bottom{
    width: 100%;
    text-align: right;
    color: #20202a;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    color: #2b2c3c;
  }
  footer a:hover{
    color: #20202a;
  }